/*body {*/
    /*background-color: #efefef;*/
/*}*/

/*a {*/
  /*position: absolute;*/
  /*left: 0px;*/
  /*top: -60px;*/
/*}*/

html {
	scroll-behavior: smooth;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 300vh;
}

.headertext {
    color: whitesmoke;
    font-family: 'Microsoft Tai Le', sans-serif;
    letter-spacing: 2px;
  -webkit-text-stroke: 1px black;
}



#homebanner {
    height: 25vh;
    z-index: 10;
}

#background-viz {
    background-color: black;
    position: absolute;
    height: 25vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.thumbnails {
    width: 20vw;
    height: 30vh;
}

.chart {
    height: 60vh;
    width: 100%
}