/*body {*/
/*background-color: #efefef;*/
/*}*/

/*a {*/
/*position: absolute;*/
/*left: 0px;*/
/*top: -60px;*/
/*}*/

html {
    scroll-behavior: smooth;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 300vh;
}

.headertext {
    color: whitesmoke;
    font-family: 'Microsoft Tai Le', sans-serif;
    letter-spacing: 2px;
    -webkit-text-stroke: 1px black;
}

#homebanner {
    height: 25vh;
    z-index: 10;
}

#background-viz {
    background-color: #080e21;
    position: absolute;
    height: 25vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.thumbnails {
    width: 100% !important;
    height: 30vh !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.2em;
}

.chart {
    height: 60vh;
    /*width: 100%*/
}