/*body {*/
/*background-color: #efefef;*/
/*}*/

/*a {*/
/*position: absolute;*/
/*left: 0px;*/
/*top: -60px;*/
/*}*/

.closed {
    visibility: hidden;
    position: absolute;
    top:0;
    left:0
}

.open {
    visibility: visible;
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.home-container {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100vh;
}

.headertext {
    color: #dbdbdb;
    font-family: 'Microsoft Tai Le', sans-serif;
    letter-spacing: 2px;
    stroke: black;
    stroke-width: 2px;
    /*-webkit-text-stroke: 1px black;*/
}

#homebanner {
    height: 20vh;
    z-index: 10;
}

#background-viz {
    background-color: #080e21;
    position: absolute;
    height: 20vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.thumbnails {
    width: 100% !important;
    height: 25vh !important;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
    font-size: 1.2em;
}

.link {
    color: #787878;
}

.link:hover {
    color: #8d8d8d;
}

.axis {
    font-family: "Microsoft Tai Le", sans-serif;
    font-size: 0.7em;
    color: #494949;
    /*fill: #494949;*/
}

.axis path {
    stroke: #b4b4b4;
}

.axis line {
    stroke: #b4b4b4;
}